setuptools-82.0.0
wheel-0.46.3
pip>=23.2
pyyaml>=6.0,<7.0
flask==2.3.3
flask-cors==4.0.0
sqlalchemy==2.0.30
pymysql==1.1.1
ultralytics==8.0.0
python-dotenv==1.0.0
opencv-python==4.8.1.78
Pillow==10.0.0
pyserial==3.5
stripe==10.10.0
gunicorn==21.2.0
